img{
  width: 30%;
  float: left;
  margin: 1.6%;
}
p{
  font-family: Arial;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  text-align: center;
  font-style: italic;
  border-bottom: 3px solid red;
  
}
