{%extends "layout.html"%}
{%block content%}
<div class="about">
        <h1>MY HOMEPAGE</h1>
        <p>Hey 🙋🏻‍♂️, Myself Nilavya Das😀 from slilguri 🏠, currently pursing B.Tech degree in Computer Science & Engineering, from Siliguri Institute of Technology🏛️. Currently, I'm exploring in Deep Learning and Machine Learning and working on some projects. I'm on the way to polish my-self and indulged myself in new advanced technologies.🌐</p>
        <p> I do have some hobbies like : -</p>
        <p>✔️Photography📸</p>
        <p>✔️Listening Music🎧</p>
        <p>✔️Exploring New Places🌄</p>
        <p>✔️Internet Surfing📧</p>
        <p>Profile</p>
        <p>💻Hackathon :- https://www.hackerrank.com/dnilavya?hr_r=1</p>
        <p>🖱️GitHub :- https://github.com/nilavya2000</p>
        <p>⌨️Stack Overflow : - https://stackoverflow.com/users/11999841/nilavya-das?tab=profile</p>
</div>
{%endblock%}
